:root {
    --green400: hsl(172, 67%, 45%);
    --green900: hsl(183, 100%, 15%);
    --grey500: hsl(186, 14%, 43%);
    --grey400: hsl(184, 14%, 56%);
    --grey200: hsl(185, 41%, 84%);
    --grey50: hsl(189, 47%, 97%);
    --white: hsl(0, 100%, 100%);
    --font-family: 'Space Mono', sans-serif;
    --font-size: 24px;
    --font-weight: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}